.sliderContainer {
  width: 100%;
  background-color: #6BE4A2;
  background-image: url('https://res.cloudinary.com/dtt4ftdrw/image/upload/v1742239137/c1254233831568e81844f23ba4f5d891_ftudg1.png');
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50rem;
  padding-left: 4rem;
  margin-top: 10rem;
}
.headline{
  color: black;
  font-size: 4rem;
  font-weight: 600;
  padding-top: 2rem;
}
.headline1{
  color: black;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 2rem;
}
.cardWrapper{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding-left: 5rem;
}

.card {
  min-width: 300px;
  max-width: 350px;
  height: 26rem;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.like{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
  left:80%;
  opacity: 0.8;
}

.cardContent {
  padding: 1rem;
}

.title{
  padding-top: 5px;
  font-size: 15px;
  color: black;
  font-weight: 700;
}

.cardMeta {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.5rem;
}

.cardMeta img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.viewMore {
  display: flex;
  justify-content: left;
  margin-top: 7rem;
}

.viewMore button {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.viewMore button:hover {
  background: #333;
  cursor: pointer;
}